extends index

block content
  div(class="hero-content ")
    div(class="w-full")
      h1(class="mb-6 text-5xl font-bold") about me
      p i'm a photographer interested in tech 
      | check out some of my galleries or contact me!
    div 
      div(class="card card-compact w-96 bg-base-100 shadow-xl")
        div(class="card-body")
          h2(class="card-title ") fun fact
          div(class="cards-actions justify-end")
      br
      div(class="card card-compact w-96 bg-base-100 shadow-xl")
        div(class="card-body")
          h2(class="card-title ") fun fact
          div(class="cards-actions justify-end")
      br
      div(class="card card-compact w-96 bg-base-100 shadow-xl")
        div(class="card-body")
          h2(class="card-title ") fun fact
          div(class="cards-actions justify-end")
      br