extends index

block content
  .hero-content
    .w-full
      h1.mb-6.text-5xl.font-bold about me
      p i'm a photographer interested in tech
      | check out some of my galleries or contact me!
    div
      .card.card-compact.w-96.bg-base-100.shadow-xl
        .card-body
          h2.card-title fun fact
          .cards-actions.justify-end
      br
      .card.card-compact.w-96.bg-base-100.shadow-xl
        .card-body
          h2.card-title fun fact
          .cards-actions.justify-end
      br
      .card.card-compact.w-96.bg-base-100.shadow-xl
        .card-body
          h2.card-title fun fact
          .cards-actions.justify-end
      br
