#gallery-data
  label(for="title")
    span.label-text Title
    #gallery-title
      input.input.input-bordered.w-full(name="title", type="text")
  br
  label(for="description")
    span.label-text Description
    #gallery-description
      input.input.input-bordered.w-full(name="description", type="text")
    br
    input.btn.btn-primary(type="submit", value="Create") 
