extends index

mixin gallery-option({slug, name})
  option(value=slug)=name

block content
  h2 Create Gallery 
  form(action="/admin/gallery" method="post" enctype="application/json")
    label(for="name")
    input(name="name" id="name" type="text" requiried="required")
    input(type="submit")
  h2 Photo Upload
  form(action="/admin/photo" method="post" enctype="multipart/form-data")
    label(for="photos")
    input(name="photos" id="photos" type="file" multiple="multiple" accept="image/*" required="required")
    label(for="gallery")
    select(name="gallery" id="gallery")
      each g in galleries
        +gallery-option(g)
    input(type="submit")

