extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/admin/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="photo")
    input(type="submit")

