div(id="page-data")
  label(for="title")
    span(class="label-text") Title:
    div(id="page-title")
      input(
        name="title"
        type="text"
        class="input input-bordered w-full"
        value= pageTitle
      )
  br
  input(class="btn btn-primary" type="submit" value="Update")
