extends index

//- block head
//-   link(href="./stylesheets/style.css", rel="stylesheet")

//- block scripts
//-   script(src='https://unpkg.com/htmx.org@1.8.5' integrity='sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w' crossorigin='anonymous' async) 

mixin iter-options(listy)
  each thing in listy
    +uuid-slug-option(thing)

mixin uuid-slug-option({uuid, slug})
    option(value=uuid)=slug

block content
  h1=title
  br
  div
    div(class="card card-compact w-96 bg-base-100 shadow-xl")
      div(class="card-body")
        h2(class="title") Create/Edit Gallery 
        form(action="/admin/gallery", method="post", enctype="application/json")
          div(class="dropdown dropdown-hover")
            label(tabindex="0" class="btn m-1") -- Select a Gallery --
            ul(tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52")
              select(name="gallery")
                option(value="" selected) -- New Gallery --
                +iter-options(galleries)
          br
          label(class="input-group" for="title")
            span(class="label-text") Title: 
            input(name="title", type="text" class="input input-bordered")
          br
          label(class="input-group" for="description")
            span(class="label-text") Description: 
            input(name="description", type="text" class="input input-bordered")
          br
          input(class="btn btn-primary" type="submit")
    br
    br
    div(class="card card-compact w-96 bg-base-100 shadow-xl")
      div(class="card-body")
        h2(class="title") Create/Edit Page
        form(action="/admin/page", method="post", enctype="application/json")
          select(name="page")
            option(value="" selected) -- New Page --
            +iter-options(pages)
          br
          label(for="title" class="input-group input-group-vertical") Title: 
          input(name="title", type="text")
          br
          input(class="btn btn-primary" type="submit")
    br
    br
    div(class="card card-compact w-96 bg-base-100 shadow-xl")
      div(class="card-body")
        h2(class="title") Photo Upload
        form(action="/admin/photo", method="post", enctype="multipart/form-data")
          label(for="target") Location: 
          select(name="target")
            option(value="" selected) -- No Target --
            optgroup(label="Galleries" )
              +iter-options(galleries)
            optgroup(label="Pages")
              +iter-options(pages)
          br
          label(for="photos") Photo(s):
          input(name="photos", type="file", multiple="multiple", accept="image/*", required="required")
          br
          input(class="btn btn-primary" type="submit")