extend index 

block content
  div(class="hero-content hero")
    div(class="w-full")
      h1(class="mb-6 text-5xl font-bold") hi there!
      p contact me
    div(class="form-control")
    div(class="card card-compact w-96 bg-base-100 shadow-xl")
      div(class="card-body")
        label(class="name")
          span(class="label-text") Your Name 
          div
            input(type="text" placeholder="Mickey Mouse" class="input input-bordered")
        label(class="email")
          span(class="label-text") Your Email 
          div
            input(type="text" placeholder="info@site.com" class="input input-bordered")
        label(class="message")
          span(class="label-text") Your Message 
          div
            input(type="text" placeholder="I love your photos!" class="input input-bordered")
        br
        button(class="btn btn-lg btn-primary")
          input(type="submit")

    //-i don't love how the text boxes don't line up but that's a problem for later