extends index

//- mixin gallery(galleryData)
//-   .gallery
//-     .name= galleryData.name

block content
  p Please select a gallery to view

  nav
    each g in galleries
      - var name = g.title
      - const slash = "/gallery/"
      - var url = slash.concat(g.slug)

      a(href=url) 
        = name
      br
      //- need to figure out how to add more whitespace because this isn't working