extends index

mixin photo({path})
  img(src=path class="rounded-box")

block head 
  link(href="../stylesheets/style.css", rel="stylesheet")

block content
  h1(class="mb-6 text-5xl font-bold") #{gallery.title}
  h2(class="text-lg") #{gallery.description}
  each item in photos
    +photo(item)
    br