extends index

mixin gallery(g)
  .gallery
    a(href='/gallery/' + g.slug)
      = g.title

block content
  p Please select a gallery to view

  nav
    each g in galleries
      div()
        +gallery(g)
        g.description
      br