extends index

mixin gallery(g)
  .card-title
    a(href='/gallery/' + g.slug)
      = g.title
      .card-body
        p= g.description

block content
  h1 Please select a gallery to view

  nav
    each g in galleries
      div(class="card card-compact w-96 bg-base-100 shadow-xl")
        div(class="card-body")
          h2
            +gallery(g)
          div(class="cards-actions justify-end")
        g.description
      br