extends layout

block head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  //- link(rel='stylesheet', href='node_modules/nes.css/css/nes.min.css')
  link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
  link(href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet")

block navBar
  nav
    |
    |
    a(href='/') Home
    |
    |
    a(href='/about') About
    |
    |
    a(href='/galleries') Galleries
    |
    |
    a(href='/contact') Contact
  h1= title
  p Welcome to #{title}

block scripts
  script(src='https://unpkg.com/htmx.org@1.8.5' integrity='sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w' crossorigin='anonymous' async) 
