doctype html
html(data-theme="fantasy")
  head
    block head
    block scripts
    title= title
  body
    block navBar
    div(data-theme="cupcake" class='page-container')
      block content

  footer