doctype html
html(data-theme="fantasy")
  head
    block head
    block scripts
    title= title
  body(class="container mx-auto")
    block navBar
    div(class="container mx-auto")
      block content

  footer