extends index 

mixin page(pg)
  .card-title
    a(href='/' + pg.slug)=pg.title

block content
    div(class="text-center hero-content")
      div(class="w-full")
        h1(class="mb-6 text-5xl font-bold") Hello there, welcome to my photo portfolio! 
        p(class="text-lg") Check out my galleries:
        a(class="btn btn-primary hover underline mt-8 rounded-sm text-black" href="/galleries") Galleries
        each pg in pages
          div(class="card card-compact w-96 bg-base-100 shadow-xl")
            div(class="card-body")
              h2(class="card-title ")
                +page(pg)
              div(class="cards-actions justify-end")
          br