extends index

mixin page(pg)
  .card-title
    a(href="/" + pg.slug)= pg.title

block content
  .text-center.hero-content
    .w-full
      h1.mb-6.text-5xl.font-bold Hello there, welcome to my photo portfolio!
      each pg in pages
        .card.card-compact.w-96.bg-base-100.shadow-xl
          .card-body
            h2.card-title
              +page(pg)
            .cards-actions.justify-end
        br
