body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

main#page-container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

main#page-container h1 {
  text-align: center;
}